[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fibr"]
	path = fibr
	url = https://github.com/abindoff/fibr
[submodule "smoothbp"]
	path = smoothbp
	url = https://github.com/abindoff/smoothbp
